.about-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
 padding: 20px;

  img {
     width: 100%;
  height: auto;
  display: block;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .about-hero {
    height: 70vh;
  }
}
