.story-section {
  height: 80vh;   
  position: relative;

}

.story-container {
  position: sticky;
  top: 0;
 
  display: flex;
  overflow: hidden;
  background: rgb(204, 188, 188);
}

/* LEFT ORANGE PANEL */
.story-left {
  width: 50%;
  height: 80vh;

  position: relative;
  left: 50%;
  z-index: 2;
  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    display: block;
  }
}

/* RIGHT IMAGE */
.story-right {
  width: 50%;
  height: 80vh;
  position: relative;
  
  z-index: 3;  

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 992px) {
  .story-section {
    height: 200vh;
  }

  .story-container {
    flex-direction: column;
    height: 100vh;
    padding: 5%;
  }

  .story-left,
  .story-right {
    width: 100%;
    height: 50vh;
  }
}
