.farm-section {
  height: 150vh;   // gives scroll space
  background: #f2f2f2;
  position: relative;
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* All cards overlap at center initially */
.card,
.center {
    flex: 1;
  position: absolute;
//   background: white;
//   padding: 40px 60px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
  border-radius: 6px;
}

/* Middle card on top */
.center {
  z-index: 3;
  background: #F4C6A0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // padding: 170px 10px;
   width: 32%;
  height: 82vh;

  .content {
    max-width: 300px;
  

    h1 {
      font-size: 38px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 25px;
    }
    .shop-btn {
  padding: 12px 30px;
  border: none;
  background: #124d4a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 4px;

  &:hover {
    background: #0e3c39;
    transform: translateY(-3px);
  }
}
  }
}

/* Side cards behind */
.left,
.right {
  z-index: 1;
  flex: 1;
  width: 32%;
  height: 82vh;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay-card {
  
  background: #ffffff;
  padding: 10px 40px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;

  h2 {
    font-size: 22px;
    letter-spacing: 2px;

    margin-bottom: 10px;
  }

  a {
   
    text-decoration: underline;
    font-weight: 500;
  }

  &:hover {
    transform: scale(1.05);
  }
}

  
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}
.left{
    .overlay-card{
        position: absolute;
        top: 49vh;
        left: 20%;
    }
}
.right{
    .overlay-card{
        position: absolute;
        top: 49vh;
        right: 20%;
    }
}
@media (max-width: 992px) {

  .farm-section {
    height: 200vh;   // scroll space
  }

  .sticky-container {
    position: sticky;   // ❗ KEEP THIS
    top: 0;
    height: 200vh;      // ❗ MUST BE 100vh
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 2px;
  }

  .card,
  .center {
    position: relative;
    width: 90%;
    margin-bottom: 20px;
    height: 50vh;
  }

  // .left img,
  // .right img {
  //   height: 300px;
  // }
.left, .right{
    .overlay-card{
        // position: absolute;
        top: 20vh;
        left: 20%;
    }
}
}
